.card-wrapper {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    &.checked {
        opacity: 0.3;
    }
}