@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 80px;
    text-align: center;
    padding: 50px 0 20px;
}

.card-holder {
    padding: 30px 60px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    overflow-y: scroll;
    flex-grow: 1;
}