<div class="header">Please Sign In</div>
<div class="card-holder">
    <app-card *ngFor="let attendee of attendees" [attendee]="attendee" (click)="cardSelect(attendee)" [checked]="attendee.checked"></app-card>
</div>
<app-modal *ngIf="showModal" [attendee]="selectedAttendee" [closeModal]="closeModal"></app-modal>