<div class="overlay">
    <div class="modal-window">
        <div class="head-row">
            <span>{{attendee.name}}</span>
            <button class="cancel-x" (click)="closeModal('cancel')">X</button>
        </div>
        <iframe #DrawCanvas id="DrawCanvas" src="assets/draw-canvas.html" ></iframe>
        <div class="action-buttons">
            <button (click)="closeModal('cancel')">Close</button>
            <button (click)="resetCanvas()">Reset</button>
            <button (click)="saveSignature()">Save</button>
        </div>
    </div>
</div>