.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-window {
        background-color: #000;
        color: #fff;
        width: 70vw;
        height: 70vh;
        position: relative;
        padding: 50px 30px;
        border: 1px solid #fff;
        border-radius: 5px;
        .head-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .cancel-x {
                padding: 5px 15px;
                background-color: transparent;
                border: none;
                color: #fff;
                font-weight: 900;
                font-size: 30px;
            }
        }
        #DrawCanvas {
            width: 100%;
            height: 80%;
            border: 1px solid #28292e;
        }
        .action-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            padding: 30px 0;

            button {
                background-color: transparent;
                border: 2px solid #fff;
                padding: 15px 30px;
                color: #fff;
            }
        }
    }
}